@black: #1f1e1e;
@white: #ffffff;
@font1: "Open Sans", sans-serif;

.is-hidden {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.check {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 24px;
  padding-top: 2px;
  padding-left: 40px;
  color: @black;
  cursor: pointer;

  &__input {
    .is-hidden();

    &:checked {
      & ~ .check__mark {
        background-color: @black;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 7px;
          top: 2px;
          width: 6px;
          height: 12px;
          border-bottom: 2px solid @white;
          border-right: 2px solid @white;
          transform: rotate(45deg);
        }
      }
    }
  }

  &__mark {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid @black;
  }

  &__label {
    margin-left: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;

    &--s {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

body {
  padding: 10px;
  background-color: #dedede;
  font-family: @font1;
}
