.listing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.listing__events-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -29px -120px;
}

.listing__event-card {
  width: calc(33.3333% - 58px);
  margin: 0 29px 120px;
}

.events {
  padding: 140px 0 100px;
}

.events__listing {
  margin-bottom: 100px;
}

.page-footer {
  flex: 0 0 auto;
  background-color: pink;
  height: 455px;
}
